.sub-header{
  background-color: rgb(12, 12, 56);
  height: 40px;
  width: 1100px;
  margin: 0 auto;
}
.sub-left{
  color: aliceblue;
  height: 40px;
  width: 550px;
  float: left;
  padding-left: 200px;
  padding-top: 5px;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
}
.sub-right{
  height:40px;
  width: 550px;
  float: left;
}
.sub-right-1st{
  color: aliceblue;
  width: 225px;
  height: 40px;
  float: left;
  padding-left: 132px;
  padding-top: 7px;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
}
.sub-right-2nd{
  color: aliceblue;
  width:100px;
  height:40px;
  float: left;
  padding-left:40px;
  padding-top: 7px;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
}
.sub-right-3rd{
  color: aliceblue;
  width: 225px;
  height: 40px;
  float:left;
  padding-top: 7px;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
}
